
<head>
  <meta charset="UTF-8" />
  <title>RUN BUDDY</title>


  <style>
    body {
      color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
    }h1 {
  font-size: 100px;
}  </style>
<style>
body {
  background-color: tomato;
}
</style>
</head>
